@model IEnumerable<dmquyettien.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách sản phẩm</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Thêm sản phẩm</a>
</p>
<table id="BangSanPham" class="table-hover">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá bán
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GiaGoc)*@
                Giá gốc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GiaGop)*@
                Giá gốc
            </th>
            <th>
                Số lượng tồn
                @*@Html.DisplayNameFor(model => model.SoLuongTon)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)*@
                Loại sản phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @item.MaSP
            </td>
            <td>
                @item.TenSP
            </td>
            <td>
                @item.GiaBan.ToString("NO")
            </td>
            <td>
                @item.GiaGoc.ToString("NO")
            </td>
            <td>
                @item.GiaGop.ToString("NO")
            </td>
            <td>
                @item.SoLuongTon.ToString("NO")
            </td>
            <td>
                @item.LoaiSanPham.TenLoai
            </td>
            <td>

                <a href="@Url.Action("Edit", new { id = item.id})" class="btn btn-info"><span class="glyphicon-pencil"></span></a>
                <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-success"><span class="glyphicon glyphicon-align-justify"></span></a>
                <a href="@Url.Action("Delete", new { id = item.id})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </tbody>
}

</table>

@section scripts{
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#BangSanPham').DataTable();
        });
    </script>
}
